/* @import url(/css/google-fonts.css); */

#banner {
    padding: 85px 0;
}


html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica', 'Open Sans', 'sans-serif';
    font-size: 17px; 
    line-height: 1.628571;
    height:100%;
    color:black;
}

h1 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;
}

h2 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;
}

h3 {
  font-family: Avenir,sans-serif;
  font-variant: small-caps;
}

.footer {
    font-size: 12px;
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;   /* Height of the footer */
    padding-bottom: 1rem;

}

body > .container {
  padding: 75px 15px 0;
  height: 100%;
  padding-bottom:90px;   /* Height of the footer */
}

/* avoid padding for page title on the simple content pages */
header.hat {
  padding: 0px;
}

.navbar-brand {
/* padding: 20px; it breaks the blog title */
vertical-align: baseline;
}

.navbar-brand-img {
padding: 0;
}
@media screen and (max-width: 768px) {
    a.navbar-brand-img>img {
      vertical-align: bottom;
      padding-left: 20px;
    }
}

a.navbar-brand-img>img {
  vertical-align: bottom;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-10{
  margin-bottom: 20px;
  margin-right: 10px;
}

p {
  text-align: justify;
}

/* Responsive video? */
iframe {
  max-width: 100%;
}

/* Popover */
.modal.ng-enter {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity 1.5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

#Email.fieldValid {
  border: 1px solid #00ff00;
}
#Email.fieldInvalid {
  border: 1px solid #ff0000;

code.has-jax {font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;}

/* navbar */

/* /\* Change navbar color *\/ */
/* .navbar-default .navbar-nav { */
/*     /\* orange *\/ */
/*     background-color: #FF6600 !important; */
/*     border-color: #FF6600; */
/* } */

/* /\* Change list items color *\/ */
/* .navbar-default .navbar-nav > li > a { */
/* color: #000000;/\* CHANGE COLOR HERE*\/ */
/* } */

