/* #banner { */
/*     padding: 85px 0; */
/* } */

#tipue_search_input {
    padding: 9px 12px 9px 40px;
    background-position: 15px 13px;
    /* margin-top: 2px; */
  }

body {
    font-family: 'Quattrocento Sans',Avenir,Helvetica,Arial, sans-serif;
    font-size: 16px;
    line-height: 1.628571;
}

footer {
  font-size: 12px;
}


/* @import ulr("//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic&subset=latin,greek");/*! */
